<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Mynzo World</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Mynzo World</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tel</string>
		<string>telprompt</string>
		<string>mailto</string>
		<string>sms</string>
		<string>whatsapp</string>
		<string>whatsapp-api</string>
		<string>fb</string>
		<string>fbapi</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>twitter</string>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>linkedin</string>
		<string>youtube</string>
		<string>snapchat</string>
		<string>pinterest</string>
		<string>tg</string>
		<string>telegram</string>
		<string>viber</string>
		<string>skype</string>
		<string>line</string>
		<string>wechat</string>
		<string>weixin</string>
		<string>itms-apps</string>
		<string>itms-appss</string>
		<string>itms</string>
		<string>phonepe</string>
		<string>tez</string>
		<string>paytmmp</string>
		<string>upi</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Mynzo World requires camera access to capture delivery verification photos, scan order barcodes, and upload profile pictures.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Mynzo World requires location access to find nearby stores, autofill your delivery address, and track active deliveries. For example, your location will be used to show products available in your area and estimate the delivery time for your order.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Mynzo World requires location access to find nearby stores, autofill your delivery address, and track active deliveries. For example, your location will be used to show products available in your area and estimate the delivery time for your order.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Mynzo World requires location access to find nearby stores, autofill your delivery address, and track active deliveries. For example, your location will be used to show products available in your area and estimate the delivery time for your order.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Mynzo World requires microphone access to record voice messages and communicate with customer support and clients.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs permission to save photos to your library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to upload photos.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We need speech recognition for voice search.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>This app needs notification permission to send you important updates.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>flutter</string>
					<key>UISceneDelegateClassName</key>
					<string>FlutterSceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
